<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Application E-learnig</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1>Application E-learnig</h1>

</div>
<div class="row">
  <div class="col-lg-3">
    <a th:href = "@{/condidatList}" class="btn btn-primary btn-sm-mb-3 m-5">Liste des condidats</a>
      <a th:href = "@{/chapitrList}" class="btn btn-primary btn-sm-mb-3 m-5">Liste des chapitres</a>
  </div>
</div>
</body>
</html>