<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Condidat</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class="container">
<div class="row">
    <h1>List Condidats</h1>
    <div class="col-lg-3 d-flex flex-row">
        <a th:href = "@{/ajouterCondidat}" class="btn btn-primary btn-sm-mb-3 m-5">Ajouter un Candidat</a>
        <a th:href = "@{/}" class="btn btn-secondary btn-sm-mb-3 m-5">Retour</a>
    </div>
</div>

<table class="table table-striped table-bordered">
<thead class="table-dark">
<tr>
    <th>nom</th>
    <th>prenom</th>
    <th>Email</th>
    <th>login</th>
    <th>password</th>
    <th>Actions</th>
</tr>
</thead>
<tbody>
<tr th:each = "condidat: ${condidats}">
    <td th:text = "${condidat.nom}"></td>
    <td th:text = "${condidat.prenom}"></td>
    <td th:text = "${condidat.email}"></td>
    <td th:text = "${condidat.login}"></td>
    <td th:text = "${condidat.password}"></td>
    <td><a th:href ="@{/condidatList/edit/{id}(id=${condidat.id})}" class="btn btn-primary">Update</a>
        <a th:href ="@{/condidatList/{id}(id=${condidat.id})}" class="btn btn-danger">Delete</a></td>
</tr>
</tbody>
</table>
</div>
</body>
</html>